<!DOCTYPE html>
<html>
  <head>

     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
     <link rel="public/stylesheets/style.css" href="style.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />



  </head>
  <body class="HolyGrail">
    <header>

    </header>
    <div >
      <main class="newShit" >

        <div class="container hello">
          <h1 class="cursiveName"> Adithya </h1>
          <h1 class="cursiveName"> Sahasranamam</h1>
        
          <br>
 
        <h1 class="job">WEB DESIGNER & DEVELOPER </h1>
<br>
<br>
<br>


          <h3 class="thirdLine">Website Under construction          </h3>



      </div>
      </main>
      <nav class="HolyGrail-nav">

          <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand Adithya"><h2>Adithya.Studio</h2></a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class=" navbar-right collapse navbar-collapse">
              <ul class="nav navbar-nav mr-auto align-content-end">
                <li class="nav-item active algn">
                  <a class="nav-link" href="#">Item 1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                </li>
              </ul>
            </div>
          </nav>
      </nav>
      <!-- <aside class="HolyGrail-ads">ads</aside> -->
    </div>
    <footer>…</footer>
  <!-- -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


  
  </body>
</html>
